.catalog-item{
	color: #000 !important;
	cursor: pointer;
	text-decoration: none;
}
.section{
	background-color: #edeef0;
	background-image: url('/assets/img/bg11.jpg'); 
	background-repeat: repeat; 
	transform: translate3d(0px, 0px, 0px);	
}
.section-search{
	background-color: #f96332 !important;
	background-image: none; 
	padding: 70px 0 0 0; 
}
.search-control{
	background-color: #fff;
	color: #888888;
	border-radius: 5px;
}
input[type="search"]::placeholder{
	color: #888888;
}
.page-header.page-header-xs {
    min-height: 20vh;
    max-height: 300px;
}
.product-discount .price {
  color: #888888; }
.product-discount .price-old {
  text-decoration: line-through;
  color: #888888; }
.product-discount .price-new {
  color: #FF3636; }
.card-paddinged{
	padding: 15px;
	border-radius: 5px;
}
.badge{
	border-radius: 0.1rem;
}
.catalog-item{
	font-size: 0.9em;
	text-transform: uppercase;
}
.catalog-item-card{
	font-size: 1em;
	text-transform: uppercase;
}
.page-header:after, .page-header:before {
    z-index: -2;
}
.logo-container-200{
	width: 200px !important;
}

/*
*		SHOPPING TABLE
 */

.table-shopping .img-container img {
    width: 50%;
}
.table-shopping .td-name {
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;
}
/*

 */	

.page-header .page-header-image {
    position: absolute;
    background-position: left, right;
    background-repeat: repeat;
    z-index: -1;
    background-size: auto;
}