.catalog-item{
	color: #000 !important;
	cursor: pointer;
	text-decoration: none;
}
.section{
	background-color: #edeef0;
}
.section-search{
	background-color: #f96332;
	padding: 70px 0 0 0; 
}
.search-control{
	background-color: #fff;
	color: #888888;
	border-radius: 10px;
}
input[type="search"]::placeholder{
	color: #888888;
}
.page-header.page-header-xs {
    min-height: 20vh;
    max-height: 300px;
}
.product-discount .price {
  color: #888888; }
.product-discount .price-old {
  text-decoration: line-through;
  color: #888888; }
.product-discount .price-new {
  color: #FF3636; }
.card-paddinged{
	padding: 15px;
	border-radius: 5px;
}
.badge{
	border-radius: 0.1rem;
}
.catalog-item{
	font-size: 0.9em;
	text-transform: uppercase;
}
.catalog-item-card{
	font-size: 1em;
	text-transform: uppercase;
}
.page-header:after, .page-header:before {
    z-index: -2;
}
.logo-container-200{
	width: 200px !important;
}