.catalog-item{
	color: #000 !important;
	cursor: pointer;
	text-decoration: none;
}
.section{
	background-color: #edeef0;
}
.section-search{
	background-color: #f96332;
	padding: 70px 0 0 0; 
}
.search-control{
	background-color: #fff;
	color: #888888;
	border-radius: 10px;
}
input[type="search"]::placeholder{
	color: #888888;
}
.page-header.page-header-xs {
    min-height: 20vh;
    max-height: 300px;
}
.product-discount .price {
  color: #888888; }
.product-discount .price-old {
  text-decoration: line-through;
  color: #888888; }
.product-discount .price-new {
  color: #FF3636; }